---
import Image from "../../components/Image.astro";

export async function getStaticPaths() {
  const { results: images } = await fetch(
    "https://jvphotography.pages.dev/api/gallery/images"
  )
    .then((res) => res.json())
    .catch((error) => console.log(error));

  interface Image {
    id: string;
    slug: string;
    name: string;
    tags: string;
    folder: string;
  }

  return images.map((image: Image) => {
    return {
      params: { slug: image.slug },
      props: { id: image.id },
    };
  });
}

const { id } = Astro.props;

interface Image {
  id: string;
  slug: string;
  name: string;
  description: string;
  tags: string;
  date: string;
  location: string;
  thumbnail: string;
  image: string;
  folder: string;
}

const image: Image = await fetch(
  `https://jvphotography.pages.dev/api/gallery/image/${id}`
)
  .then((res) => res.json())
  .catch((error) => console.log(error));
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index, follow" />
    <link
      rel="preload"
      href="/assets/fonts/JosefinSlab-Regular.ttf"
      as="font"
    />
    <link
      rel="preload"
      href="/assets/fonts/JosefinSlab-SemiBold.ttf"
      as="font"
    />
    <link rel="preload" href="/assets/fonts/Inter-Regular.ttf" as="font" />
    <link
      rel="preload"
      href="/assets/fonts/OverpassMono-Regular.ttf"
      as="font"
    />
    <title>{image.name} • JVPhotography</title>
    <meta name="author" content="Johnathan Verstraaten" />
    <meta name="description" content={image.description} />
    <meta property="og:title" content={`${image.name} • JVPhotography`} />
    <meta
      property="og:url"
      content={`https://jvphotography.pages.dev/photo/${image.slug}`}
    />
    <meta
      property="og:image"
      content={`https://jvphotography.pages.dev/assets/images/collection/${image.id}.jpg`}
    />
    <meta property="og:type" content="article" />
  </head>
  <body>
    <Image imageId={image} />
  </body>
</html>