---
export async function getStaticPaths() {
  const { results: images } = await fetch(
    "https://jvphotography.pages.dev/api/gallery/images"
  )
    .then((res) => res.json())
    .catch((error) => console.log(error));

  interface Image {
    id: string;
    slug: string;
    name: string;
    tags: string;
    folder: string;
  }

  return images.map((image: Image) => {
    return {
      params: { slug: image.slug },
      props: { id: image.id },
    };
  });
}

const { id } = Astro.props;

interface Image {
  id: string;
  slug: string;
  name: string;
  description: string;
  tags: string;
  date: string;
  location: string;
  thumbnail: string;
  image: string;
  folder: string;
}

const image: Image = await fetch("https://jvphotography.pages.dev/api/gallery/image", {
  method: "GET",
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify({
    id: id,
  }),
})
  .then((res) => res.json())
  .catch((error) => console.log(error));
---
<span>{image.id}</span>
<br />
<span>{image.slug}</span>
<br />
<span>{image.name}</span>
<br />
<span>{image.description}</span>
<br />
<span>{image.tags}</span>
<br />
<span>{image.date}</span>
<br />
<span>{image.location}</span>
<br />
<span>{image.thumbnail}</span>
<br />
<span>{image.image}</span>
<br />
<span>{image.folder}</span>